/* fade animation draft */
@-webkit-keyframes fade_1 {
  100% {opacity: 0;}
}
@keyframes fade_1 {
  100% {opacity: 0;}
}

@-webkit-keyframes fade_2 {
  0% {opacity: 0;}
}
@keyframes fade_2 {
  0% {opacity: 0;}
}
